Repository modrinth/code, pull requests merged in 2025-08, with the labels that each got.

#4104 fix: approve status incorrect
  apps/frontend/src/components/ui/moderation/checklist/ModerationChecklist.vue
Labels: merge-please

#4100 fix: startup settings not visible on hard page refresh/direct load
  apps/frontend/src/pages/servers/manage/[id]/options/startup.vue
Labels: bug, web, frontend, merge-please

#4119 Fix most packs showing as "Optimization" on the app homepage
  apps/app-frontend/src/components/ui/ProjectCard.vue
Labels: enhancement, app

#4094 Allow direct joining servers on old instances
  .idea/code.iml
  apps/app-frontend/package.json
  apps/app-frontend/src/components/ui/world/WorldItem.vue
  apps/app-frontend/src/helpers/worlds.ts
  apps/app-frontend/src/locales/en-US/index.json
  apps/app-frontend/src/pages/instance/Worlds.vue
  apps/app/src/api/profile.rs
  apps/app/src/api/worlds.rs
  packages/app-lib/build.rs
  packages/app-lib/java/build.gradle.kts
  packages/app-lib/java/src/main/java/com/modrinth/theseus/agent/InsnPattern.java
  packages/app-lib/java/src/main/java/com/modrinth/theseus/agent/QuickPlayServerVersion.java
  packages/app-lib/java/src/main/java/com/modrinth/theseus/agent/TheseusAgent.java
  packages/app-lib/java/src/main/java/com/modrinth/theseus/agent/transformers/ClassNodeTransformer.java
  packages/app-lib/java/src/main/java/com/modrinth/theseus/agent/transformers/ClassTransformer.java
  packages/app-lib/java/src/main/java/com/modrinth/theseus/agent/transformers/MinecraftTransformer.java
  packages/app-lib/src/api/mod.rs
  packages/app-lib/src/api/profile/mod.rs
  packages/app-lib/src/api/server_address.rs
  packages/app-lib/src/api/worlds.rs
  packages/app-lib/src/launcher/args.rs
  packages/app-lib/src/launcher/mod.rs
  packages/app-lib/src/launcher/quick_play_version.rs
  packages/app-lib/src/state/process.rs
Labels: enhancement, app

#4127 feat: add simple mode editor to the moderation checklist
  apps/frontend/src/components/ui/moderation/checklist/ModerationChecklist.vue
  packages/assets/generated-icons.ts
  packages/assets/icons/toggle-left.svg
  packages/assets/icons/toggle-right.svg
Labels: bug, web, frontend

#4129 revert: dont use local storage for filters on moderation dash
  apps/frontend/src/pages/moderation/index.vue
  apps/frontend/src/pages/moderation/reports/index.vue
Labels: bug, web, frontend

#4128 fix: only check the first project type in filtering
  apps/frontend/src/pages/moderation/index.vue
Labels: bug, web, frontend

#4132 feat(labrinth): database seed data fixtures for better installation and testing
  .github/workflows/turbo-ci.yml
  apps/docs/src/content/docs/contributing/labrinth.md
  apps/labrinth/fixtures/labrinth-seed-data-202508052143.sql
  apps/labrinth/package.json
  apps/labrinth/src/lib.rs
  apps/labrinth/src/main.rs
  apps/labrinth/src/routes/debug/mod.rs
  apps/labrinth/tests/common/dummy_data.rs
  apps/labrinth/tests/fixtures/dummy_data.sql
  packages/app-lib/src/api/profile/mod.rs
  packages/app-lib/src/state/mr_auth.rs
Labels: backend, DevEx

#4150 Minor compose and editorconfig fixes
  .editorconfig
  docker-compose.yml
Labels: DevEx

#4153 feat(labrinth): add config to run it with Compose, alongside services
  apps/docs/src/content/docs/contributing/labrinth.md
  apps/labrinth/.env.docker-compose
  docker-compose.yml
Labels: backend, DevEx

#4151 feat: set up Mailpit SMTP server as part of our Docker Compose file
  apps/docs/src/content/docs/contributing/labrinth.md
  apps/labrinth/.env.local
  apps/labrinth/src/auth/email/mod.rs
  docker-compose.yml
Labels: backend, DevEx

#4166 fix: dom parser ssr issues
  packages/moderation/data/nags/description.ts
Labels: bug, web, frontend

#3605 App surveys
  apps/app-frontend/index.html
  apps/app-frontend/src/App.vue
  apps/app/tauri.conf.json
  packages/assets/generated-icons.ts
  packages/assets/icons/notepad-text.svg
Labels: enhancement, app

#4189 chore: fix CI failure due to unexpected formatting
  apps/app-frontend/src/pages/Browse.vue
Labels: DevEx

#4184 feat: frontend explicit imports + error page fix
  apps/docs/src/styles/modrinth.css
  apps/frontend/src/components/ui/NotificationItem.vue
  apps/frontend/src/components/ui/servers/FileManagerError.vue
  apps/frontend/src/components/ui/servers/FileVirtualList.vue
  apps/frontend/src/components/ui/servers/FilesImageViewer.vue
  apps/frontend/src/components/ui/servers/FilesUploadDropdown.vue
  apps/frontend/src/components/ui/servers/LoaderSelector.vue
  apps/frontend/src/components/ui/servers/LoaderSelectorCard.vue
  apps/frontend/src/components/ui/servers/PanelServerActionButton.vue
  apps/frontend/src/components/ui/servers/PanelTerminal.vue
  apps/frontend/src/components/ui/servers/PlatformVersionSelectModal.vue
  apps/frontend/src/components/ui/servers/ServerInfoLabels.vue
  apps/frontend/src/components/ui/servers/ServerInstallation.vue
  apps/frontend/src/components/ui/servers/ServerListing.vue
  apps/frontend/src/components/ui/servers/ServerListingSkeleton.vue
  apps/frontend/src/components/ui/servers/ServerLoaderLabel.vue
  apps/frontend/src/components/ui/servers/ServerUptimeLabel.vue
  apps/frontend/src/error.vue
  apps/frontend/src/layouts/default.vue
  apps/frontend/src/pages/[type]/[id]/version/[version].vue
  apps/frontend/src/pages/auth/authorize.vue
  apps/frontend/src/pages/auth/sign-in.vue
  apps/frontend/src/pages/auth/sign-up.vue
  apps/frontend/src/pages/auth/welcome.vue
  apps/frontend/src/pages/collection/[id].vue
  apps/frontend/src/pages/report.vue
  apps/frontend/src/pages/servers/manage/[id].vue
  apps/frontend/src/pages/servers/manage/[id]/content/index.vue
  apps/frontend/src/pages/servers/manage/[id]/files.vue
  apps/frontend/src/pages/servers/manage/[id]/index.vue
  apps/frontend/src/pages/servers/manage/[id]/options.vue
  apps/frontend/src/pages/servers/manage/[id]/options/index.vue
  apps/frontend/src/pages/servers/manage/[id]/options/network.vue
  apps/frontend/src/pages/servers/manage/[id]/options/preferences.vue
  apps/frontend/src/pages/servers/manage/[id]/options/properties.vue
  apps/frontend/src/pages/servers/manage/[id]/options/startup.vue
  apps/frontend/src/pages/servers/manage/index.vue
  apps/frontend/src/pages/settings/billing/index.vue
  apps/frontend/src/pages/settings/index.vue
  apps/frontend/src/pages/settings/language.vue
  apps/frontend/src/pages/settings/pats.vue
  apps/frontend/src/pages/settings/profile.vue
  apps/frontend/src/pages/user/[id].vue
  apps/frontend/src/plugins/error-handling.ts
  apps/frontend/src/public/news/feed/articles.json
  packages/assets/generated-icons.ts
  packages/blog/compile.ts
  packages/blog/compiled/index.ts
  packages/tooling-config/eslint/nuxt.mjs
  packages/ui/src/components/billing/PurchaseModal.vue
  packages/ui/src/components/billing/ServersPurchase3Review.vue
  packages/ui/src/components/servers/LoaderIcon.vue
  packages/ui/src/components/servers/ModrinthServersIcon.vue
  packages/ui/src/components/skin/SkinPreviewRenderer.vue
Labels: bug, app, frontend

#4170 Simplify css var setup to remove conflicts, overrides, and duplicates
  apps/frontend/src/assets/styles/global.scss
  packages/assets/styles/variables.scss
  packages/ui/src/composables/stripe.ts
  packages/utils/billing.ts
Labels: frontend, DevEx

#4176 Cleanup `edit_subscription`, add `dry` query param
  apps/labrinth/src/routes/internal/billing.rs
Labels: enhancement, backend

#4230 fix: medal promotion on mobile
  apps/frontend/src/components/ui/servers/marketing/MedalPlanPromotion.vue
Labels: bug, web, mobile, frontend

#4232 fix: medal support in admin billing
  apps/frontend/src/pages/admin/billing/[id].vue
Labels: bug, web, frontend

#4235 Mark .editorconfig to use spaces for Rust code as the formatter does
  .editorconfig
Labels: DevEx

#4242 Don't create an empty servers.dat on instance creation
  packages/app-lib/src/state/fs_watcher.rs
Labels: bug, app

#4262 More IDEA files
  .gitignore
  .idea/gradle.xml
  .idea/modules.xml
  .idea/vcs.xml
Labels: enhancement, DevEx

#4252 Fix and unify version selection when installing mods and filtering
  apps/app-frontend/src/components/ui/install_flow/ModInstallModal.vue
  apps/app-frontend/src/pages/project/Index.vue
  apps/app-frontend/src/store/install.js
Labels: enhancement, app, frontend

#4303 tweak(labrinth/auth): improve Modrinth auth callback error message
  apps/labrinth/src/auth/templates/error.html
Labels: enhancement, backend
