Repository modrinth/code, pull requests merged in 2025-09, with the labels that each got.

#4345 fix(app): make Modrinth account SSO logins from the app work
  apps/frontend/src/composables/auth.js
  apps/frontend/src/pages/auth/sign-in.vue
  apps/labrinth/.env.docker-compose
  apps/labrinth/.env.local
Labels: bug, app, backend, frontend

#4344 fix(labrinth): proper page view ingest URL origin filtering
  apps/labrinth/src/routes/analytics.rs
Labels: bug, backend

#4338 [DO NOT MERGE] Email notification system
  Cargo.lock
  Cargo.toml
  apps/labrinth/.env.local
  apps/labrinth/.sqlx/query-006813fc9b61e5333484e7c6443f0325fd64f9ab965fed3f973adeced8719128.json
  apps/labrinth/.sqlx/query-0339cb166cfc7e78fc1269d5d1547a772977b269d6d01a64a1f93acb86f9e411.json
  apps/labrinth/.sqlx/query-0c425b9e08bd7a8cefce82adf87cca44340bd51b012ca2fb19a095f1c6038437.json
  apps/labrinth/.sqlx/query-0e29dad2b228ca4922811bb45f05f39145489302a4e9bc25eeed49c97d3dc01e.json
  apps/labrinth/.sqlx/query-5f7ce5881b9051f2a2e88577f8851a8e367c8914fa40ff2224dcb907284339d8.json
  apps/labrinth/.sqlx/query-66f890fcf2761869e5580c82ea5054c8e5ce839fb4a6c2d94b9621b57cb0e02c.json
  apps/labrinth/.sqlx/query-8399e818bbe8642304b2e30dcac511f8242cb66d6daedfdcd9627462dc08b2f1.json
  apps/labrinth/.sqlx/query-91e4b5a08579246e2eca91c1c38f0e8ff3d11077e172f103b65044aab2f90a91.json
  apps/labrinth/.sqlx/query-971bbd54f168da93b39b8550776157ff82a679798ea198e52091c75d31bc5e7c.json
  apps/labrinth/.sqlx/query-a04c04cfb025e36dddd78638fd042792dbf6a1d83a15d0d08b5ce589063eefd4.json
  apps/labrinth/.sqlx/query-a92900cba0e27410d29910c991b9a161ef58e39455454e5b3a380ed62eb15eb2.json
  apps/labrinth/.sqlx/query-b3371c0ff555f8f90ced4c4b1f397863e65d9aafe06f77703db18b492e6a9c03.json
  apps/labrinth/.sqlx/query-bc21f3bef3585780f445725576ca6a1a9e89a896a8e8cfaae46137d22d40a837.json
  apps/labrinth/.sqlx/query-c8ae8b814a1877a5fd3919a87ad41ed4ac11e74f3640594939fd964ee7bf75c0.json
  apps/labrinth/.sqlx/query-f39c5338f0776255c35d13c98e4d4e10bb9a871d420a3315aa8617bb2aa0d679.json
  apps/labrinth/.sqlx/query-fbd89475ed4a963bfced02d56aec048c797855bbd1e57c18d1f0a5392493c9ec.json
  apps/labrinth/Cargo.toml
  apps/labrinth/migrations/20250902133943_notification-extension.sql
  apps/labrinth/src/auth/email/auth_notif.html
  apps/labrinth/src/auth/email/button_notif.html
  apps/labrinth/src/auth/email/mod.rs
  apps/labrinth/src/auth/mod.rs
  apps/labrinth/src/background_task.rs
  apps/labrinth/src/database/models/mod.rs
  apps/labrinth/src/database/models/notification_item.rs
  apps/labrinth/src/database/models/notifications_deliveries_item.rs
  apps/labrinth/src/database/models/notifications_template_item.rs
  apps/labrinth/src/database/models/notifications_type_item.rs
  apps/labrinth/src/database/models/user_item.rs
  apps/labrinth/src/database/models/users_notifications_preferences_item.rs
  apps/labrinth/src/lib.rs
  apps/labrinth/src/main.rs
  apps/labrinth/src/models/v2/notifications.rs
  apps/labrinth/src/models/v3/billing.rs
  apps/labrinth/src/models/v3/notifications.rs
  apps/labrinth/src/queue/email.rs
  apps/labrinth/src/queue/email/templates.rs
  apps/labrinth/src/queue/mod.rs
  apps/labrinth/src/routes/internal/billing.rs
  apps/labrinth/src/routes/internal/external_notifications.rs
  apps/labrinth/src/routes/internal/flows.rs
  apps/labrinth/src/routes/internal/gdpr.rs
  apps/labrinth/src/routes/internal/mod.rs
  apps/labrinth/src/routes/mod.rs
  apps/labrinth/src/routes/v3/users.rs
  apps/labrinth/src/scheduler.rs
  apps/labrinth/src/util/guards.rs
  apps/labrinth/tests/common/mod.rs
Labels: enhancement, backend

#4358 feat: introduce vue-email for templating with tailwind
  apps/frontend/nuxt.config.ts
  apps/frontend/package.json
  apps/frontend/src/emails/index.ts
  apps/frontend/src/emails/shared/StyledEmail.vue
  apps/frontend/src/emails/templates/account/AuthenticationMethodAdded.vue
  apps/frontend/src/emails/templates/account/AuthenticationMethodRemoved.vue
  apps/frontend/src/emails/templates/account/EmailChanged.vue
  apps/frontend/src/emails/templates/account/LoginNewDevice.vue
  apps/frontend/src/emails/templates/account/PATCreated.vue
  apps/frontend/src/emails/templates/account/PasswordChanged.vue
  apps/frontend/src/emails/templates/account/PasswordRemoved.vue
  apps/frontend/src/emails/templates/account/PaymentFailed.vue
  apps/frontend/src/emails/templates/account/PayoutAvailable.vue
  apps/frontend/src/emails/templates/account/ResetPassword.vue
  apps/frontend/src/emails/templates/account/TwoFactorAdded.vue
  apps/frontend/src/emails/templates/account/TwoFactorRemoved.vue
  apps/frontend/src/emails/templates/account/VerifyEmail.vue
  apps/frontend/src/emails/templates/moderation/ModerationThreadMessageReceived.vue
  apps/frontend/src/emails/templates/moderation/ReportStatusUpdated.vue
  apps/frontend/src/emails/templates/moderation/ReportSubmitted.vue
  apps/frontend/src/emails/templates/organization/OrganizationInvited.vue
  apps/frontend/src/emails/templates/project/ProjectInvited.vue
  apps/frontend/src/emails/templates/project/ProjectStatusApproved.vue
  apps/frontend/src/emails/templates/project/ProjectStatusUpdatedNeutral.vue
  apps/frontend/src/emails/templates/project/ProjectTransferred.vue
  apps/frontend/src/pages/admin/emails.vue
  apps/frontend/src/public/robots.txt
  apps/frontend/src/server/routes/email/[template].ts
  pnpm-lock.yaml
Labels: enhancement, web, frontend

#4373 Strip alpha from inner skin parts
  packages/app-lib/Cargo.toml
  packages/app-lib/src/api/minecraft_skins/assets/test/MissingNo_normalized.png
  packages/app-lib/src/api/minecraft_skins/assets/test/legacy.png
  packages/app-lib/src/api/minecraft_skins/assets/test/legacy_normalized.png
  packages/app-lib/src/api/minecraft_skins/assets/test/notch.png
  packages/app-lib/src/api/minecraft_skins/assets/test/notch_normalized.png
  packages/app-lib/src/api/minecraft_skins/assets/test/transparent.png
  packages/app-lib/src/api/minecraft_skins/assets/test/transparent_normalized.png
  packages/app-lib/src/api/minecraft_skins/png_util.rs
Labels: app, backend

#4396 fix: hide versions checkbox depending on what game versions are avail
  apps/frontend/src/pages/[type]/[id].vue
Labels: bug, web, frontend

#4393 feat: temporary tax compliance impl
  apps/frontend/src/components/ui/dashboard/CreatorTaxFormModal.vue
  apps/frontend/src/composables/avalara1099.ts
  apps/frontend/src/layouts/default.vue
  apps/frontend/src/locales/en-US/index.json
  apps/frontend/src/pages/dashboard/revenue/index.vue
  apps/frontend/src/pages/dashboard/revenue/withdraw.vue
Labels: enhancement, frontend

#4426 feat(labrinth): hide orgs without a purpose, re-enable organization creation
  apps/frontend/src/components/ui/OrganizationCreateModal.vue
  apps/labrinth/.env.local
  apps/labrinth/.sqlx/query-eb792d5033d7079fe3555593d8731f8853235275e4d5614636b5db524a4920d5.json
  apps/labrinth/src/auth/checks.rs
  apps/labrinth/src/models/v3/projects.rs
  apps/labrinth/src/routes/v3/organizations.rs
  apps/labrinth/src/routes/v3/teams.rs
  apps/labrinth/tests/scopes.rs
  apps/labrinth/tests/teams.rs
  packages/utils/changelog.ts
Labels: backend

#4429 feat: create modal limit alerting
  .github/instructions/i18n-convert.instructions.md
  apps/frontend/src/components/ui/CollectionCreateModal.vue
  apps/frontend/src/components/ui/create/CollectionCreateModal.vue
  apps/frontend/src/components/ui/create/CreateLimitAlert.vue
  apps/frontend/src/components/ui/create/OrganizationCreateModal.vue
  apps/frontend/src/components/ui/create/ProjectCreateModal.vue
  apps/frontend/src/layouts/default.vue
  apps/frontend/src/locales/en-US/index.json
  apps/frontend/src/pages/[type]/[id].vue
  apps/frontend/src/pages/dashboard/collections.vue
  apps/frontend/src/pages/dashboard/organizations.vue
  apps/frontend/src/pages/dashboard/projects.vue
  apps/frontend/src/pages/organization/[id].vue
  apps/frontend/src/pages/organization/[id]/settings/projects.vue
  apps/frontend/src/pages/user/[id].vue
  packages/assets/generated-icons.ts
  packages/assets/icons/support-chat.svg
Labels: enhancement, frontend
