Repository modrinth/code, pull requests merged in 2025-06, with the labels that each got.

#2898 fix(frontend): remove fixed height from ManySelect
  packages/ui/src/components/base/ManySelect.vue
  packages/ui/src/components/base/ScrollablePanel.vue
Labels: bug, frontend

#3748 fix: reset reset-icon state value correctly in edit world modal
  apps/app-frontend/src/components/ui/world/modal/EditSingleplayerWorldModal.vue
Labels: bug, app, frontend

#3758 Fix random_projects route not returning the requested number of projects
  apps/labrinth/.sqlx/query-1cefe4924d3c1f491739858ce844a22903d2dbe26f255219299f1833a10ce3d7.json
  apps/labrinth/.sqlx/query-1d017ac5f5b1e76ec241533fd4d061c79f4e6d2f1701e727a7474fd5029a5492.json
  apps/labrinth/migrations/20250608183828_random-project-index.sql
  apps/labrinth/src/routes/v3/projects.rs
Labels: bug, backend

#3765 Improve `get_user_from_headers` signature
  apps/labrinth/src/auth/oauth/mod.rs
  apps/labrinth/src/auth/validate.rs
  apps/labrinth/src/routes/analytics.rs
  apps/labrinth/src/routes/internal/billing.rs
  apps/labrinth/src/routes/internal/flows.rs
  apps/labrinth/src/routes/internal/gdpr.rs
  apps/labrinth/src/routes/internal/moderation.rs
  apps/labrinth/src/routes/internal/pats.rs
  apps/labrinth/src/routes/internal/session.rs
  apps/labrinth/src/routes/maven.rs
  apps/labrinth/src/routes/updates.rs
  apps/labrinth/src/routes/v3/analytics_get.rs
  apps/labrinth/src/routes/v3/collections.rs
  apps/labrinth/src/routes/v3/friends.rs
  apps/labrinth/src/routes/v3/images.rs
  apps/labrinth/src/routes/v3/notifications.rs
  apps/labrinth/src/routes/v3/oauth_clients.rs
  apps/labrinth/src/routes/v3/organizations.rs
  apps/labrinth/src/routes/v3/payouts.rs
  apps/labrinth/src/routes/v3/project_creation.rs
  apps/labrinth/src/routes/v3/projects.rs
  apps/labrinth/src/routes/v3/reports.rs
  apps/labrinth/src/routes/v3/teams.rs
  apps/labrinth/src/routes/v3/threads.rs
  apps/labrinth/src/routes/v3/users.rs
  apps/labrinth/src/routes/v3/version_creation.rs
  apps/labrinth/src/routes/v3/version_file.rs
  apps/labrinth/src/routes/v3/versions.rs
Labels: backend, DevEx

#3734 fix: MOD-292 repair button showing during installation
  apps/app-frontend/src/pages/instance/Index.vue
Labels: bug, app, frontend

#3755 feat(frontend): Organisations are now sorted alphabetically in dashboard and on user pages
  apps/frontend/src/pages/dashboard/organizations.vue
  apps/frontend/src/pages/user/[id].vue
Labels: enhancement, frontend

#3746 fix: undefined instance path by using emitted event instead when opening world folder
  apps/app-frontend/src/components/ui/world/WorldItem.vue
  apps/app-frontend/src/pages/instance/Worlds.vue
Labels: bug, app, frontend

#3776 enh(ci): optimize Turbo CI check workflow, track Rust and Node toolchain versions in well-known files
  .github/workflows/theseus-release.yml
  .github/workflows/turbo-ci.yml
  .nvmrc
  apps/app-frontend/package.json
  apps/app-playground/package.json
  apps/app/package.json
  apps/daedalus_client/package.json
  apps/docs/package.json
  apps/frontend/package.json
  apps/labrinth/package.json
  docker-compose.yml
  package.json
  packages/app-lib/package.json
  packages/daedalus/package.json
  pnpm-lock.yaml
  rust-toolchain.toml
  turbo.json
Labels: DevEx

#3721 fix(app): make instances with non-UTF8 text file encodings launcheable and importable
  Cargo.lock
  Cargo.toml
  packages/app-lib/Cargo.toml
  packages/app-lib/src/api/pack/import/atlauncher.rs
  packages/app-lib/src/api/pack/import/curseforge.rs
  packages/app-lib/src/api/pack/import/gdlauncher.rs
  packages/app-lib/src/api/pack/import/mmc.rs
  packages/app-lib/src/launcher/mod.rs
  packages/app-lib/src/util/io.rs
Labels: bug, app

#3757 fix(app): make per-instance launch hooks clearable
  Cargo.lock
  apps/app-frontend/src/components/ui/instance_settings/HooksSettings.vue
  packages/app-lib/Cargo.toml
  packages/app-lib/src/api/profile/mod.rs
  packages/app-lib/src/launcher/mod.rs
  packages/app-lib/src/state/settings.rs
  packages/app-lib/src/util/mod.rs
Labels: bug, app

#3781 Update Rust and Turbo versions
  .cargo/config.toml
  apps/app-frontend/package.json
  apps/daedalus_client/Dockerfile
  apps/labrinth/Dockerfile
  clippy.toml
  package.json
  pnpm-lock.yaml
  rust-toolchain.toml
  turbo.json
Labels: DevEx

#3780 Small CI flakiness fix and performance tweak
  .github/workflows/turbo-ci.yml
  apps/app/turbo.jsonc
  docker-compose.yml
  package.json
  turbo.jsonc
Labels: DevEx

#3788 fix: servers
  apps/frontend/src/pages/search/[searchProjectType].vue
Labels: bug, frontend

#3791 fix(labrinth): use a proper `CDN_URL` for local deployments
  apps/frontend/.env.local
  apps/labrinth/.env.local
Labels: bug, backend

#3792 feat(labrinth): allow protected resource and data packs to pass validation
  apps/labrinth/src/util/routes.rs
  apps/labrinth/src/validate/datapack.rs
  apps/labrinth/src/validate/mod.rs
  apps/labrinth/src/validate/resourcepack.rs
  apps/labrinth/src/validate/shader.rs
Labels: enhancement, backend

#3797 fix: error handling improvements
  apps/frontend/src/composables/servers/modrinth-servers.ts
  apps/frontend/src/composables/servers/modules/general.ts
  apps/frontend/src/pages/servers/manage/[id].vue
  packages/ui/src/components/base/ErrorInformationCard.vue
  packages/ui/src/components/index.ts
  packages/utils/servers/errors/modrinth-server-error.ts
  packages/utils/servers/errors/modrinth-servers-fetch-error.ts
Labels: bug, frontend

#3808 Fix direct lint of `packages/app-lib`
  apps/app/Cargo.toml
  packages/app-lib/Cargo.toml
Labels: app, DevEx

#3810 fix: intercom bubble colliding with notifications
  apps/frontend/src/components/ui/Notifications.vue
Labels: bug, frontend

#3811 fix: unclear file upload errors temp fix
  apps/frontend/src/components/ui/servers/FilesUploadDropdown.vue
Labels: bug, frontend

#3812 fix: state update race conditons
  apps/frontend/src/components/ui/servers/BackupItem.vue
Labels: bug, frontend

#3822 Pass system properties into Minecraft (+ some launch code cleanup)
  Cargo.lock
  Cargo.toml
  apps/app-frontend/src/components/ui/JavaSelector.vue
  apps/app/src/api/jre.rs
  apps/app/tauri.conf.json
  packages/app-lib/Cargo.toml
  packages/app-lib/library/JavaInfo.java
  packages/app-lib/library/MinecraftLaunch.class
  packages/app-lib/library/MinecraftLaunch.java
  packages/app-lib/src/api/jre.rs
  packages/app-lib/src/launcher/args.rs
  packages/app-lib/src/launcher/mod.rs
  packages/app-lib/src/state/java_globals.rs
  packages/app-lib/src/state/legacy_converter.rs
  packages/app-lib/src/state/process.rs
  packages/app-lib/src/util/io.rs
  packages/app-lib/src/util/jre.rs
Labels: app

#3833 Migrate Java code to Gradle
  .editorconfig
  .idea/code.iml
  .idea/modules.xml
  packages/app-lib/Cargo.toml
  packages/app-lib/build.rs
  packages/app-lib/java/.gitattributes
  packages/app-lib/java/.gitignore
  packages/app-lib/java/build.gradle.kts
  packages/app-lib/java/gradle.properties
  packages/app-lib/java/gradle/libs.versions.toml
  packages/app-lib/java/gradle/wrapper/gradle-wrapper.jar
  packages/app-lib/java/gradle/wrapper/gradle-wrapper.properties
  packages/app-lib/java/gradlew
  packages/app-lib/java/gradlew.bat
  packages/app-lib/java/settings.gradle.kts
  packages/app-lib/java/src/main/java/com/modrinth/theseus/JavaInfo.java
  packages/app-lib/java/src/main/java/com/modrinth/theseus/MinecraftLaunch.java
  packages/app-lib/library/JavaInfo.class
  packages/app-lib/library/JavaInfo.java
  packages/app-lib/library/MinecraftLaunch.class
  packages/app-lib/library/MinecraftLaunch.java
  packages/app-lib/src/launcher/mod.rs
  packages/app-lib/src/util/io.rs
  packages/app-lib/src/util/jre.rs
Labels: app, DevEx

#3846 Update Java to 11 with `--release 8`
  packages/app-lib/java/build.gradle.kts
Labels: app

#3847 fix(app-lib): do not softlock `tauri dev` when a Gradle build is invoked
  apps/app/.gitignore
  packages/app-lib/.taurignore
Labels: app, DevEx

#3849 Rust dependency updates
  Cargo.lock
  Cargo.toml
  apps/daedalus_client/Dockerfile
  apps/labrinth/Dockerfile
  clippy.toml
  rust-toolchain.toml
Labels: app, backend

#3869 fix(app-frontend): clamp current page in searches to the max possible
  apps/app-frontend/src/pages/Browse.vue
Labels: app, frontend

#3873 fix: broken files status card on server panel
  apps/frontend/src/components/ui/servers/ServerStats.vue
Labels: bug, frontend

#3867 feat: mrpack upload progress in modal
  apps/frontend/src/components/ui/servers/PlatformMrpackModal.vue
  apps/frontend/src/composables/servers/modules/general.ts
  packages/assets/icons/arrow-big-right-dash.svg
  packages/assets/index.ts
Labels: enhancement, frontend

#3872 fix: Unsatisfactory rounding of download sums
  apps/frontend/src/composables/compact-number.ts
  apps/frontend/src/pages/organization/[id].vue
  apps/frontend/src/pages/user/[id].vue
Labels: bug, frontend

#3871 Fix old Minecraft versions not having playtime resolved for servers
  packages/app-lib/src/api/worlds.rs
Labels: bug, app

#3875 fix: cmp-info page financial info
  apps/frontend/src/pages/legal/cmp-info.vue
Labels: bug, frontend
