Repository modrinth/code, pull requests merged in 2025-07, with the labels that each got.

#3886 Make tauri-plugin-http a workspace dependency
  Cargo.toml
  apps/app/Cargo.toml
Labels: backend, DevEx

#3891 fix: use --landing-raw-bg instead of bg-bg/bg-black
  apps/frontend/src/components/ui/news/LatestNewsRow.vue
  apps/frontend/src/pages/app.vue
  apps/frontend/src/pages/index.vue
Labels: bug, web, frontend

#3895 fix(app): adjust CSP settings for skin manager to work
  apps/app-frontend/src/assets/models/classic_player.gltf
  apps/app-frontend/src/assets/models/slim_player.gltf
  apps/app-frontend/src/components/ui/skin/EditSkinModal.vue
  apps/app-frontend/src/components/ui/skin/SelectCapeModal.vue
  apps/app-frontend/src/helpers/rendering/batch-skin-renderer.ts
  apps/app-frontend/src/pages/Skins.vue
  apps/app/tauri.conf.json
Labels: bug, app

#3920 Fix launching older Forge versions
  packages/app-lib/java/src/main/java/com/modrinth/theseus/MinecraftLaunch.java
  packages/app-lib/src/launcher/mod.rs
Labels: bug, app

#3919 refactor: cleanup & fix caching issues on /app page.
  apps/frontend/src/pages/app.vue
Labels: enhancement, web, frontend

#3921 ci: revamp app build workflow, introduce a new one for release deployment
  .github/workflows/theseus-build.yml
  .github/workflows/theseus-release.yml
  Cargo.lock
  apps/app-frontend/package.json
  apps/app/Cargo.toml
  apps/app/tauri.conf.json
  packages/app-lib/Cargo.toml
Labels: DevEx

#3911 fix: model issues & move to `@modrinth/assets`
  apps/app-frontend/src/assets/models/cape.gltf
  apps/app-frontend/src/assets/models/classic_player.gltf
  apps/app-frontend/src/assets/models/slim_player.gltf
  apps/app-frontend/src/components/ui/skin/EditSkinModal.vue
  apps/app-frontend/src/components/ui/skin/SelectCapeModal.vue
  apps/app-frontend/src/helpers/rendering/batch-skin-renderer.ts
  apps/app-frontend/src/pages/Skins.vue
  packages/assets/.eslintrc.js
  packages/assets/icons.d.ts
  packages/assets/index.ts
  packages/assets/models/cape.gltf
  packages/assets/models/classic-player.gltf
  packages/assets/models/slim-player.gltf
  packages/ui/src/components/skin/SkinPreviewRenderer.vue
Labels: bug, app, frontend

#3929 fix: app page links
  apps/frontend/src/pages/app.vue
Labels: bug, web, frontend

#3932 Fix MinecraftLaunch failing in the case of a package-private main class on Java 8
  packages/app-lib/java/src/main/java/com/modrinth/theseus/MinecraftLaunch.java
Labels: app

#3959 fix: white cape issue
  apps/app-frontend/src/helpers/rendering/batch-skin-renderer.ts
Labels: bug, app, frontend

#3979 Verify that `intl:extract` has been run
  .github/workflows/turbo-ci.yml
Labels: frontend, DevEx

#3977 fix: keybind issue + view moderation page on final step
  apps/frontend/src/components/ui/moderation/NewModerationChecklist.vue
  packages/moderation/types/keybinds.ts
Labels: bug, web, frontend

#3986 Moderation Checklist Fixes
  apps/frontend/src/components/ui/moderation/NewModerationChecklist.vue
  packages/moderation/types/actions.ts
  packages/moderation/utils.ts
  packages/ui/src/components/base/DropdownSelect.vue
Labels: bug, web, DevEx

#3999 Feature/detect skin variant on fileinput
  apps/app-frontend/src/components/ui/skin/EditSkinModal.vue
  apps/app-frontend/src/helpers/skins.ts
Labels: bug, app

#3970 Author Validation Improvements
  apps/frontend/nuxt.config.ts
  apps/frontend/src/components/ui/ProjectMemberHeader.vue
  apps/frontend/src/locales/en-US/index.json
  apps/frontend/src/pages/[type]/[id]/settings/description.vue
  apps/frontend/src/pages/[type]/[id]/settings/index.vue
  apps/frontend/src/pages/[type]/[id]/settings/links.vue
  apps/frontend/src/pages/[type]/[id]/settings/tags.vue
  packages/moderation/README.md
  packages/moderation/data/nags.ts
  packages/moderation/data/nags/core.i18n.ts
  packages/moderation/data/nags/core.ts
  packages/moderation/data/nags/description.i18n.ts
  packages/moderation/data/nags/description.ts
  packages/moderation/data/nags/index.ts
  packages/moderation/data/nags/links.i18n.ts
  packages/moderation/data/nags/links.ts
  packages/moderation/data/nags/tags.i18n.ts
  packages/moderation/data/nags/tags.ts
  packages/moderation/index.ts
  packages/moderation/locales/en-US/index.json
  packages/moderation/package.json
  packages/moderation/types/nags.ts
  pnpm-lock.yaml
Labels: enhancement, web, DevEx

#4020 perf(docker): cache image builds through cache mounts and GHA cache
  .github/workflows/daedalus-docker.yml
  .github/workflows/labrinth-docker.yml
  apps/daedalus_client/Dockerfile
  apps/labrinth/Dockerfile
Labels: backend, DevEx

#4004 fix: handle identified files properly in the checklist
  apps/frontend/src/components/ui/moderation/ModpackPermissionsFlow.vue
  apps/frontend/src/components/ui/moderation/NewModerationChecklist.vue
  packages/moderation/index.ts
  packages/utils/types.ts
Labels: bug, web, frontend

#4072 fix(frontend): hide subscription button in blog before sub status is determined
  apps/frontend/src/components/ui/NewsletterButton.vue
Labels: enhancement, frontend

#4062 Legacy ping support
  Cargo.lock
  Cargo.toml
  apps/app-frontend/src/components/ui/world/RecentWorldsList.vue
  apps/app-frontend/src/components/ui/world/WorldItem.vue
  apps/app-frontend/src/helpers/worlds.ts
  apps/app-frontend/src/pages/instance/Worlds.vue
  apps/app/src/api/worlds.rs
  packages/app-lib/Cargo.toml
  packages/app-lib/src/api/worlds.rs
  packages/app-lib/src/launcher/mod.rs
  packages/app-lib/src/state/profiles.rs
  packages/app-lib/src/util/mod.rs
  packages/app-lib/src/util/protocol_version.rs
  packages/app-lib/src/util/server_ping.rs
Labels: enhancement, app

#4059 feat: Moderation Dashboard Overhaul
  apps/frontend/package.json
  apps/frontend/src/components/ui/ModerationChecklist.vue
  apps/frontend/src/components/ui/moderation/ModerationDelphiReportCard.vue
  apps/frontend/src/components/ui/moderation/ModerationQueueCard.vue
  apps/frontend/src/components/ui/moderation/ModerationReportCard.vue
  apps/frontend/src/components/ui/moderation/checklist/ChecklistKeybindsModal.vue
  apps/frontend/src/components/ui/moderation/checklist/ModerationChecklist.vue
  apps/frontend/src/components/ui/moderation/checklist/ModpackPermissionsFlow.vue
  apps/frontend/src/components/ui/thread/ReportThread.vue
  apps/frontend/src/components/ui/thread/ThreadMessage.vue
  apps/frontend/src/helpers/moderation.ts
  apps/frontend/src/layouts/default.vue
  apps/frontend/src/locales/en-US/index.json
  apps/frontend/src/pages/[type]/[id].vue
  apps/frontend/src/pages/[type]/[id]/gallery.vue
  apps/frontend/src/pages/moderation.vue
  apps/frontend/src/pages/moderation/index.vue
  apps/frontend/src/pages/moderation/report/[id].vue
  apps/frontend/src/pages/moderation/reports.vue
  apps/frontend/src/pages/moderation/reports/[id].vue
  apps/frontend/src/pages/moderation/reports/index.vue
  apps/frontend/src/pages/moderation/review.vue
  apps/frontend/src/pages/moderation/technical-review-mockup.vue
  apps/frontend/src/pages/moderation/technical-review.vue
  apps/frontend/src/store/moderation.ts
  packages/assets/generated-icons.ts
  packages/assets/icons/collapse.svg
  packages/assets/icons/ellipsis-vertical.svg
  packages/moderation/data/messages/reports/antivirus.md
  packages/moderation/data/messages/reports/confirmed-malware.md
  packages/moderation/data/messages/reports/gameplay-issue.md
  packages/moderation/data/messages/reports/platform-issue.md
  packages/moderation/data/messages/reports/spam.md
  packages/moderation/data/messages/reports/stale.md
  packages/moderation/data/report-quick-replies.ts
  packages/moderation/data/stages/versions.ts
  packages/moderation/index.ts
  packages/moderation/types/reports.ts
  packages/ui/src/components/base/CollapsibleRegion.vue
  packages/ui/src/components/base/DropdownSelect.vue
  packages/ui/src/components/index.ts
  packages/utils/types.ts
  pnpm-lock.yaml
Labels: enhancement, web, frontend
